#Introdução ao KNN

As métricas de distância conseguem calcular a similaridade entre dois elementos.
Pode ser usado para: Classificação ou Regressão.

Distância Euclidiana

- Teorema de Pitagoras

In [1]:
2-5

-3

In [2]:
(2-5)**2 #positivo

9

In [3]:
((2-5)**2)**(0.5) #linha anterior elevada a 0.5 ou 1/2 ou raiz quadrada

3.0

In [4]:
#Distância entre dois elementos com características diferentes a=[massa, cor]
a = [5,0.75]
b = [2,0.50]

Distância entre dois pontos separados por atributos [massa de a - massa de b] elevado ao quadrado e soma com a distância do próximo atributo [cor de a - cor de b] elevado ao quadrado. No final a raiz da soma das diferenças ao quadrado.

In [5]:
((5-2)**2 + (0.75 - 0.50)**2)**0.5

3.010398644698074

#KNN para Classificação

Vamos importar o método KNN do sklearn.

In [6]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

*n_neighbors=3*

Vizinhos próximos para os dados de treino, cada novo elemento será comparado aos 3 vizinhos mais próximos a ele.

Se a coluna de atributos tem valores numéricos o KNN não é aconselhado. Exemplo: o número 1 representa maçã e 2 banana.

In [7]:
knn = KNeighborsClassifier(n_neighbors=3)

In [8]:
data = pd.read_table('fruit_data_with_colors.txt')

In [9]:
data

    fruit_label fruit_name     fruit_subtype  mass  width  height  color_score
0             1      apple      granny_smith   192    8.4     7.3         0.55
1             1      apple      granny_smith   180    8.0     6.8         0.59
2             1      apple      granny_smith   176    7.4     7.2         0.60
3             2   mandarin          mandarin    86    6.2     4.7         0.80
4             2   mandarin          mandarin    84    6.0     4.6         0.79
5             2   mandarin          mandarin    80    5.8     4.3         0.77
6             2   mandarin          mandarin    80    5.9     4.3         0.81
7             2   mandarin          mandarin    76    5.8     4.0         0.81
8             1      apple          braeburn   178    7.1     7.8         0.92
9             1      apple          braeburn   172    7.4     7.0         0.89
10            1      apple          braeburn   166    6.9     7.3         0.93
11            1      apple          braeburn   172    7.1     7.6         0.92
12            1      apple          braeburn   154    7.0     7.1         0.88
13            1      apple  golden_delicious   164    7.3     7.7         0.70
14            1      apple  golden_delicious   152    7.6     7.3         0.69
15            1      apple  golden_delicious   156    7.7     7.1         0.69
16            1      apple  golden_delicious   156    7.6     7.5         0.67
17            1      apple  golden_delicious   168    7.5     7.6         0.73
18            1      apple       cripps_pink   162    7.5     7.1         0.83
19            1      apple       cripps_pink   162    7.4     7.2         0.85
20            1      apple       cripps_pink   160    7.5     7.5         0.86
21            1      apple       cripps_pink   156    7.4     7.4         0.84
22            1      apple       cripps_pink   140    7.3     7.1         0.87
23            1      apple       cripps_pink   170    7.6     7.9         0.88
24            3     orange     spanish_jumbo   342    9.0     9.4         0.75
25            3     orange     spanish_jumbo   356    9.2     9.2         0.75
26            3     orange     spanish_jumbo   362    9.6     9.2         0.74
27            3     orange  selected_seconds   204    7.5     9.2         0.77
28            3     orange  selected_seconds   140    6.7     7.1         0.72
29            3     orange  selected_seconds   160    7.0     7.4         0.81
30            3     orange  selected_seconds   158    7.1     7.5         0.79
31            3     orange  selected_seconds   210    7.8     8.0         0.82
32            3     orange  selected_seconds   164    7.2     7.0         0.80
33            3     orange      turkey_navel   190    7.5     8.1         0.74
34            3     orange      turkey_navel   142    7.6     7.8         0.75
35            3     orange      turkey_navel   150    7.1     7.9         0.75
36            3     orange      turkey_navel   160    7.1     7.6         0.76
37            3     orange      turkey_navel   154    7.3     7.3         0.79
38            3     orange      turkey_navel   158    7.2     7.8         0.77
39            3     orange      turkey_navel   144    6.8     7.4         0.75
40            3     orange      turkey_navel   154    7.1     7.5         0.78
41            3     orange      turkey_navel   180    7.6     8.2         0.79
42            3     orange      turkey_navel   154    7.2     7.2         0.82
43            4      lemon    spanish_belsan   194    7.2    10.3         0.70
44            4      lemon    spanish_belsan   200    7.3    10.5         0.72
45            4      lemon    spanish_belsan   186    7.2     9.2         0.72
46            4      lemon    spanish_belsan   216    7.3    10.2         0.71
47            4      lemon    spanish_belsan   196    7.3     9.7         0.72
48            4      lemon    spanish_belsan   174    7.3    10.1         0.72
49            4      lemon           unknown   132    5.8     8.7         0.73
50            4      lemon           unknown   130    6.0     8.2         0.71
51            4      lemon           unknown   116    6.0     7.5         0.72
52            4      lemon           unknown   118    5.9     8.0         0.72
53            4      lemon           unknown   120    6.0     8.4         0.74
54            4      lemon           unknown   116    6.1     8.5         0.71
55            4      lemon           unknown   116    6.3     7.7         0.72
56            4      lemon           unknown   116    5.9     8.1         0.73
57            4      lemon           unknown   152    6.5     8.5         0.72
58            4      lemon           unknown   118    6.1     8.1         0.70

In [10]:
X = data[['mass','height','width','color_score']] #atributos
y = data['fruit_label'] #rótulo

In [11]:
X

    mass  height  width  color_score
0    192     7.3    8.4         0.55
1    180     6.8    8.0         0.59
2    176     7.2    7.4         0.60
3     86     4.7    6.2         0.80
4     84     4.6    6.0         0.79
5     80     4.3    5.8         0.77
6     80     4.3    5.9         0.81
7     76     4.0    5.8         0.81
8    178     7.8    7.1         0.92
9    172     7.0    7.4         0.89
10   166     7.3    6.9         0.93
11   172     7.6    7.1         0.92
12   154     7.1    7.0         0.88
13   164     7.7    7.3         0.70
14   152     7.3    7.6         0.69
15   156     7.1    7.7         0.69
16   156     7.5    7.6         0.67
17   168     7.6    7.5         0.73
18   162     7.1    7.5         0.83
19   162     7.2    7.4         0.85
20   160     7.5    7.5         0.86
21   156     7.4    7.4         0.84
22   140     7.1    7.3         0.87
23   170     7.9    7.6         0.88
24   342     9.4    9.0         0.75
25   356     9.2    9.2         0.75
26   362     9.2    9.6         0.74
27   204     9.2    7.5         0.77
28   140     7.1    6.7         0.72
29   160     7.4    7.0         0.81
30   158     7.5    7.1         0.79
31   210     8.0    7.8         0.82
32   164     7.0    7.2         0.80
33   190     8.1    7.5         0.74
34   142     7.8    7.6         0.75
35   150     7.9    7.1         0.75
36   160     7.6    7.1         0.76
37   154     7.3    7.3         0.79
38   158     7.8    7.2         0.77
39   144     7.4    6.8         0.75
40   154     7.5    7.1         0.78
41   180     8.2    7.6         0.79
42   154     7.2    7.2         0.82
43   194    10.3    7.2         0.70
44   200    10.5    7.3         0.72
45   186     9.2    7.2         0.72
46   216    10.2    7.3         0.71
47   196     9.7    7.3         0.72
48   174    10.1    7.3         0.72
49   132     8.7    5.8         0.73
50   130     8.2    6.0         0.71
51   116     7.5    6.0         0.72
52   118     8.0    5.9         0.72
53   120     8.4    6.0         0.74
54   116     8.5    6.1         0.71
55   116     7.7    6.3         0.72
56   116     8.1    5.9         0.73
57   152     8.5    6.5         0.72
58   118     8.1    6.1         0.70

In [13]:
y

0     1
1     1
2     1
3     2
4     2
5     2
6     2
7     2
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    3
25    3
26    3
27    3
28    3
29    3
30    3
31    3
32    3
33    3
34    3
35    3
36    3
37    3
38    3
39    3
40    3
41    3
42    3
43    4
44    4
45    4
46    4
47    4
48    4
49    4
50    4
51    4
52    4
53    4
54    4
55    4
56    4
57    4
58    4
Name: fruit_label, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

75% para treino e 25% para teste.

X - letra maiúscula para matriz.

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [16]:
knn.fit(X_train,y_train) #armazenamos os valores no knn

KNeighborsClassifier(n_neighbors=3)

Os dados de treino e teste são aleatórios.

Bom acerto acima de 70 ou 80%.

A ordem de grandeza dos dados faz diferença na distância. As grandezas de cor e massa são muito diferentes.

In [17]:
knn.score(X_test,y_test)

0.4

Para tentar balancear essa diferença podemo sutilizar a escala minmax.

#Pré-processando os dados para o KNN

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
mm = MinMaxScaler()

Transformar numa escala de zero e um:

In [20]:
X_train = mm.fit_transform(X_train)

In [21]:
X_train

array([[0.26573427, 0.71428571, 0.18421053, 0.38235294],
       [0.3006993 , 0.49206349, 0.44736842, 0.70588235],
       [0.32167832, 0.57142857, 0.44736842, 0.41176471],
       [0.26573427, 0.52380952, 0.47368421, 0.29411765],
       [0.14685315, 0.65079365, 0.07894737, 0.32352941],
       [0.22377622, 0.49206349, 0.23684211, 0.38235294],
       [0.97902098, 0.82539683, 0.89473684, 0.47058824],
       [0.30769231, 0.47619048, 0.36842105, 0.61764706],
       [0.41258741, 1.        , 0.36842105, 0.32352941],
       [0.14685315, 0.63492063, 0.02631579, 0.38235294],
       [0.01398601, 0.04761905, 0.02631579, 0.64705882],
       [0.13986014, 0.55555556, 0.05263158, 0.38235294],
       [0.23776224, 0.53968254, 0.26315789, 0.47058824],
       [0.34965035, 0.50793651, 0.42105263, 0.02941176],
       [0.27272727, 0.49206349, 0.31578947, 0.85294118],
       [0.        , 0.        , 0.        , 0.64705882],
       [0.27972028, 0.49206349, 0.5       , 0.29411765],
       [0.23076923, 0.6031746 , 0.47368421, 0.47058824],
       [0.18881119, 0.66666667, 0.05263158, 0.35294118],
       [0.33566434, 0.47619048, 0.42105263, 0.88235294],
       [0.03496503, 0.11111111, 0.10526316, 0.61764706],
       [0.3986014 , 0.65079365, 0.44736842, 0.44117647],
       [0.28671329, 0.6031746 , 0.36842105, 0.52941176],
       [0.22377622, 0.49206349, 0.39473684, 0.82352941],
       [0.35664336, 0.6031746 , 0.34210526, 0.97058824],
       [0.34265734, 0.96825397, 0.39473684, 0.38235294],
       [0.15384615, 0.6984127 , 0.05263158, 0.44117647],
       [0.02797203, 0.0952381 , 0.05263158, 0.58823529],
       [0.13986014, 0.71428571, 0.07894737, 0.35294118],
       [0.36363636, 0.44444444, 0.57894737, 0.        ],
       [0.41958042, 0.9047619 , 0.39473684, 0.38235294],
       [0.27272727, 0.50793651, 0.36842105, 0.67647059],
       [0.1958042 , 0.74603175, 0.        , 0.41176471],
       [0.32867133, 0.61904762, 0.47368421, 0.85294118],
       [0.46853147, 0.63492063, 0.52631579, 0.67647059],
       [0.30769231, 0.58730159, 0.39473684, 0.32352941],
       [0.93006993, 0.85714286, 0.84210526, 0.47058824],
       [0.13986014, 0.65079365, 0.02631579, 0.41176471],
       [0.31468531, 0.52380952, 0.28947368, 1.        ],
       [0.01398601, 0.04761905, 0.        , 0.52941176],
       [0.36363636, 0.66666667, 0.47368421, 0.58823529],
       [0.13986014, 0.58730159, 0.13157895, 0.38235294],
       [0.27972028, 0.55555556, 0.47368421, 0.23529412],
       [1.        , 0.82539683, 1.        , 0.44117647]])

In [22]:
X_test = mm.transform(X_test)

In [23]:
X_test

array([[ 0.27972028,  0.53968254,  0.42105263,  0.73529412],
       [ 0.40559441,  0.52380952,  0.68421053, -0.11764706],
       [ 0.28671329,  0.55555556,  0.34210526,  0.58823529],
       [ 0.33566434,  0.57142857,  0.34210526,  0.97058824],
       [ 0.48951049,  0.98412698,  0.39473684,  0.35294118],
       [ 0.29370629,  0.57142857,  0.34210526,  0.5       ],
       [ 0.44755245,  0.82539683,  0.44736842,  0.52941176],
       [ 0.43356643,  1.03174603,  0.39473684,  0.38235294],
       [ 0.29370629,  0.55555556,  0.44736842,  0.79411765],
       [ 0.38461538,  0.82539683,  0.36842105,  0.38235294],
       [ 0.29370629,  0.53968254,  0.31578947,  0.64705882],
       [ 0.27272727,  0.55555556,  0.34210526,  0.55882353],
       [ 0.25874126,  0.61904762,  0.34210526,  0.47058824],
       [ 0.27272727,  0.52380952,  0.39473684,  0.58823529],
       [ 0.3006993 ,  0.50793651,  0.42105263,  0.76470588]])

In [24]:
knn = KNeighborsClassifier(n_neighbors=3) #retreinar

In [25]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [26]:
knn.score(X_test,y_test) #100% de acerto

1.0

In [27]:
knn.predict(X_test)

array([1, 1, 3, 1, 4, 3, 3, 4, 1, 4, 3, 3, 3, 3, 1])

In [28]:
y_test

21    1
0     1
30    3
11    1
46    4
36    3
27    3
44    4
20    1
45    4
29    3
40    3
35    3
37    3
19    1
Name: fruit_label, dtype: int64

#KNN para Regressão

A intuição é diferente da classificação, pois iremos efetuar uma média dos vizinhos mais próximos.

In [30]:
from sklearn.neighbors import KNeighborsRegressor

In [31]:
knn = KNeighborsRegressor(n_neighbors=3)

Para executar uma predição iremos utilizar o dataset load_boston, preço de casas em diferentes regiões de Boston, direto do sklearn.

In [32]:
from sklearn.datasets import load_boston

In [33]:
data = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [34]:
X, y = load_boston(return_X_y=True) #já separa em atributos e rótulos

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [35]:
X.shape

(506, 13)

In [36]:
y.shape

(506,)

In [37]:
print(load_boston()['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [40]:
knn.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=3)

In [41]:
knn.score(X_test,y_test)

0.5438299694971644